
:root{
    --black-color: #222224;
    --pink: #F1E4E6;
    --dark_pink: #F16D7F;
    --gray: #F8F8F8;


}

body {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    background-color: var(--black-color);
    position: relative;
}
.header_navigation{
    display: none;
    position: absolute;   
    text-align: center;
   
    height: 765px;
    background-color: rgb(255, 255, 255);
    width: 232px;
    left: 50%;
    transform: translate(570px, 0px);
}

.header_button:hover, .header_button:focus,
.header_link:hover, .header_link:focus
{
    opacity: 0.5;
}

.header:hover .header_navigation{
    display: inline;
}


.header_container{
    display: flex;
    justify-content: space-between;
}
.header_logo{
    margin: 0 41px 0 0;
}
.header_button{
    background: transparent;
    border: none;
    margin: 0 33px 0 0;
}
.header_link{
    margin: 0 33px 0 0;
}
.header_title{

}

.back_brand{
    background-color: var(--pink);
}
.brand{
    /*    */
    max-width: 1600px;

    display: flex;
    margin: 0 0 63px 0;
}
.brand_img{
    background-color: var(--pink);
}
.brand_title-container{
    background-color: var(--pink);
    flex-grow: 1;
    padding:  0 0 92px 0;
    display: flex;
    align-items: center;
}
.brand_title{
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    width: 377;
    text-transform: uppercase;
}
.brandsub-title{
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    display: block;
}
.brand_title_pink{
    color:var(--dark_pink);
    ;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }
  .pomotions_list{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
.promotions_card{
    width: 360px;
    min-height: 260px;
    /*
    
    */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;

    text-transform: uppercase;
    text-align: center;
    
}

.promotions_title{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: white;
}
.promotions_text{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color:var(--dark_pink);
    
/*

*/  
}

.promotions_card-women{
    background-image: url("../img/pr_wo.jpg");
    background-size: cover;
}
.promotions_card-men{
    background-image: url("../img/pr_me.jpg");
    background-size: cover;
}
.promotions_card-kids{
    background-image: url("../img/pr_ki.jpg");
    background-size: cover;
}
.promotions_card-acces{
    background-image: url("../img/pr_acc.jpg");
    background-size: cover;
    width: 100%;
}

.products__tittle{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.products__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: center;
        
}

.products___list{
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product_img{
    display: block;
}

.products__item{
    width: 360px;
}

.product__cart{
    background-color: var(--gray);
    padding: 26px 29px 20px 19px;
}

.product_header{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
}
.product_describtion{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    color: #5D5D5D;
}

.product_cost{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color:var(--dark_pink);
}

.products_button_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__button{
    margin-top: 49px;
    margin-bottom: 96px;
    width: 211px;
    height: 47px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color:var(--dark_pink);
}

.products__button:hover {
    color:white;
    background-color: var(--dark_pink);
}

.features{
    height: 341px;
    background-color: black;
}

.features__list{
    display: flex;
}
.features_img{
    display: block;
    margin: 100px auto 0px auto;
}

.features__tittle{
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: white;
}

.features__text{
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-align: center;
    color: white;
}


.footer__back{ 
    background-size: cover;
}

.footer__top{
    background-image: url("../img/back_foot.png");
    height: 448px;
}

.footer__top_blocks{
    display: flex;
}

.footer__top__left{
    width: 360px;
}

.footer__img{
    margin: 86px auto 40px auto;
    display: block;
}

.footer__left_text{
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.footer__top_right{
    width: 560px;
    text-align: center;
    text-align: center;
    margin: 150px auto;
}
.footer__top_right_tittle{
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    }
.footer__top_right_text{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}


.footer_bottom{
    height: 79px;
    background-color: black;
}

.footer_bottom_box{
    display: flex;
    justify-content: space-between;
}

.footer_bottom_text{
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB; 
    margin: 30px; 
}

.footer_bottom__list{
    display: flex;
}


.back_brand_registr{
    height: 148px;
    background-color: var(--pink);
    margin-bottom: 64px;
}


.lable{
    padding-top: 59px;
    font-size: 24px;
    line-height: 29px;
    color: var(--dark_pink);
    text-transform: uppercase;
}

.data{
    display: flex;
    height: 675px;;
}

.data_input_forms{
    width: 490px;
    display: inline;
}

legend{
    margin-bottom: 21px;
}


.data_in_form{
    width: 360px;
    height: 45px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.data_radio{
    display: flex;
    height: 30px;
}


.data_text{
    margin-bottom: 39px;
}

.data_button{
    width: 167px;
    height: 50px;
    background-color:#F16D7F;
}



.dist22{
    margin-bottom: 22px;
}

.data_advantages_list{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;  
}




.data_advantages_lable{
    
}


.data_advantages_text{
    width: 652px;
}

.data_advantages_item{
    margin-bottom: 16px;
    position: relative;
}

.data_advantages_item::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 16px;
    background: rgb(255, 255, 255);
    top: 10px;
    left: -42px;
    background-image: url(../img/bird.svg);
    background-size: 20px 16px;
    /*
    
    */
    
}

.footer_form{
    display: flex;
    margin-left: 100px;
    height: 49px;
}
.footer_in_form{
    padding-left: 20px;
    width: 256px;
    border-radius: 25px 0px 0px 25px;
    background-color:#E1E1E1;
    border: rgb(250, 250, 250);
}

.footer_button{
    width: 100px;
    border-radius: 0px 25px 25px 0px;
    background-color: var(--dark_pink);
    border: rgb(250, 250, 250); 
}

/* 19.04.21


*/
.product {
    position: relative;
}

.product:hover .product_button{
    display: inline;
}

.product_button{
    display: none;
    background: none;
    width: 148px; 
    height: 43px;

    position: absolute;  
    top: 210px;
    left: 180px;
    z-index: 2;
    transform: translate(-50%, 50%);

    color: rgb(250, 250, 250);
    border-color: rgb(250, 250, 250);
}

.product_button::before{
    position: absolute; 
    content: '';
    width: 26px;
    height: 24px;
    top: 6px;
    left: 5px;
    background-image: url(../img/bcket_icon.svg);
}
.addcart {
    display: none;
}

.product:hover .product_img_wrap_black{
    display: inline;
}

.product_img_wrap{
    position: relative;
}

.product_img_wrap_black{
    display: none;
    position: absolute;
    width: 360px;
    height: 420px;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
    top: 0px;
    left: 0px;
}


